@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --primary: #0a7cff;
  --primary-hover: #0066dd;
  --surface: #191919;
  --card-bg: #252525;
  --text-primary: #ffffffcf;
  --text-secondary: #787878;
  --border: #2e2e2e;
}

html {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #191919;
  color: #ffffffcf;
}
